<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="./assets/style/all.css">
  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light
      w-100 py-0
      border-bottom
      z-index-999
      <%- current == 'index' ? 'position-fixed' : '' %>"
      >
      <%- include('./components/layout/navbar.ejs') %>
    </nav>

    <header <% if(current !== 'index') { %> hidden <% } %> >
      <%- include('./components/banner.ejs') %>
    </header>

    <nav
      class="h-x0.53 top-0 
        overflow-y-hidden border-bottom
        z-index-999
        <%- current !== 'index' ? 'position-sticky' : '' %>"
      <% if(current == 'cart' || current == 'order') { %> hidden <% } %>
    >
      <%- include('./components/layout/navbarCategoryFilter.ejs') %>
    </nav>


    <main>
      <%- contents %>
    </main>

    <div <% if(current === 'cart'
      || current === 'order'
      || current === 'checkOrder') { %> hidden <% } %> >
      <%- include('./components/layout/moreExhibition.ejs') %>
      <%- include('./components/layout/subscription.ejs') %>
      <%- include('./components/layout/footer.ejs') %>
    </div>


    <%- include('./components/layout/toUpBtn.ejs') %>
    <%- include('./components/modals.ejs') %>
    <%- include('./components/offcanvas.ejs') %>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

  </body>

</html>